.about-section-2 {
    padding: 7.3em $padding-mobile 9.8em $padding-mobile;
    background: $deep-jungle-green;
    position: relative;
    overflow: hidden;
    z-index: 1;

    .about-section-2-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 2.7em;
            color: $white;
            font-weight: 700;
            text-align: center;
            letter-spacing: .03rem;
        }

        .team-members {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 4em 0 0 0;

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 350px;
                background: $sacramento-state-green;
                padding: 2.7em 2em 2.7em 2em;

                &:not(:first-child) {
                    margin: 4.7em 0 0 0;
                }

                .card-front {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        width: 96px;
                        height: 96px;
                        border-radius: 50%;
                        border: 2px solid $image-border;
                    }

                    h3 {
                        color: $rapture-blue;
                        font-size: 1.5rem;
                        font-weight: 700;
                        padding: 1.2em 0 .5em 0;
                        letter-spacing: .03rem;
                    }

                    span {
                        font-size: 1.2rem;
                        font-style: italic;
                        color: $white;
                        letter-spacing: .03rem;
                    }

                    &.front {
                        display: none;
                    }
                }

                .flip-card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    background-color: $light-coral;
                    margin: 0 0 0 0;
                }

                .card-back {
                    display: none;
                    flex-direction: column;
                    align-items: center;

                    h3 {
                        color: $rapture-blue;
                        font-size: 1.5rem;
                        font-weight: 700;
                        letter-spacing: .03rem;
                    }

                    p {
                        text-align: center;
                        color: $white;
                        font-size: 1.15rem;
                        letter-spacing: .025rem;
                        line-height: 2em;
                    }

                    .card-social {
                        display: flex;
                        justify-content: center;

                        svg {
                            &:first-child {
                                margin: 0 1.3em 0 0;
                            }
                        }
                    }

                    &.back {
                        display: flex;
                    }
                }
            }
        }
    }

    &:before, &:after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        display: block;
        z-index: -1;
    }

    &:before {
        background-image: url("../images/bg-pattern-about-2-contact-1.svg");
        width: 200px;
        height: 200px;
        top: -100px;
        left: -100px;
    }

    &:after {
        background-image: url("../images/bg-pattern-home-4-about-3.svg");
        width: 147px;
        height: 100px;
        bottom: 0;
        right: 0;
    }
}