@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@500;600;700&display=swap');

// ----------- Variables
$font-stack: 'Livvic', sans-serif;

// Primary colors
$midnight-green: #014E56;
$light-coral: #F67E7E;
$white: #FFFFFF;

// Secondary colors
$rapture-blue: #79C8C7;
$police-blue: #2C6269;
$deep-jungle-green: #004047;
$sacramento-state-green: #012F34;
$dark-green: #002529;

$mobile-wrapper: rgba(0,37,41,0.5);
$image-border: #C4FFFE;

// Padding left/right for each screen size
$padding-mobile: 2em;
$padding-tablet: 8em;
$padding-desktop: 13.5em;

// --------------------------------- General styles ---------------------------------
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    &.stop-scroll {
        overflow: hidden;
    }
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: $font-stack; 
    position: relative;
    
}

#root {
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

// ------------------------------------ Main container -----------------------------------
#container {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto 1fr auto;
    position: relative; 
    overflow-x: hidden;   
}

// ------------------------------------- Partials ----------------------------------------

// Shared
@import 'header';
@import 'footer';
@import 'banner';
@import 'buttons';

// Home page
@import 'home-section-1';
@import 'home-section-2';
@import 'home-section-3';

// About page
@import 'about-section-1';
@import 'about-section-2';
@import 'about-section-3';

// Media queries
@import 'media-768-home';
@import 'media-768-shared';
@import 'media-1350-home';
@import 'media-1350-shared';